[Unit]
Description=A simple proxy for SSTV and Plex DVR

[Service]
Environment=
WorkingDirectory=/home/USERNAME/sstvProxy/
ExecStart=/home/USERNAME/sstvProxy/venv/bin/python /home/USERNAME/sstvProxy/sstvProxy.py
Restart=always

[Install]
WantedBy=multi-user.target
